<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>New Product</title>

</head>
<body style="background-color:bisque">
    <h1 style="font-size: 70px;text-align: center;">Add Product</h1>
    <div class="insert" style="height: 400px;">
    <form style="margin-top: 150px; margin-bottom: 400px; margin-right: 200px; margin-left: 350px;" action="/doInsert" method="post">
        Name: <input style="width: 200px;margin-top: 10px;margin-left:200px;margin-bottom: 50px;height: 20px;" type="text" name="txtName" >
        <br>
        Price :   <input style="width: 200px;margin-top: 10px;margin-left: 200px;margin-bottom: 50px;height: 20px;" type="text" name="txtPrice">
        <br>
        <input style="text-align: center;margin-top: 10px;margin-left: 320px;height: 20px;" type="submit" value="Insert">
    </form>
    </div>
</body>
</html>